 /*
 * Project:	  Activ CMS Version 5
 * File:	  admin.css
 * Author:    Activ Developers
 * Date		  December 2017
 * @copyright	2017 Activ Web Design 
 * CSS code for admin cpanel
 */

* {
    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}


/*------------------------------------------------------------------
[Master Stylesheet]

Project    	: Aether
Version		: 1.0
Last change	: 2015/03/27
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. General Structure
2. Anchor Link
3. Text Outside the Box
4. Main Form
5. Login Button
6. Form Invalid
7. Form - Main Message
8. Custom Checkbox & Radio
9. Misc
10. Dashboard
-------------------------------------------------------------------*/

/*=== 1. General Structure ===*/

.tooltip-arrow,
.activ_tooltip + .tooltip > .tooltip-inner {
	background-color: #AF0092; 
	color: #fff;
	width: 310px;
	text-align:left;
}
.activ_tooltip + .tooltip.top > .tooltip-arrow {
	background-color: #AF0092;
	width: auto;
}

 .activ_tooltip {
    margin-top: 27px;
    display: block;
}

.form-group {
    position: relative;
}

hr.hr {
    height: 1px;
    background: rgba(255,101,0, 0.7);
    border: 1px solid rgba(255,101,0, 0.7);
    border-radius: 10px;
    margin: 10px 0;
}

hr.titlehr {
    border-top: 1px dashed #8c8b8b;
    margin-top: 0;
	margin-bottom: 0;
}

hr.activhr { 
  border-top: 1px dashed #8c8b8b; 
} 
hr.activhr:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -12px; 
  left: 40px; 
  padding: 0 3px; 
  background: #f0f0f0; 
  color: #8c8b8b; 
  font-size: 18px; 
}

hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.vr {
    border-right: 3px solid rgba(255,101,0, 0.7);
    height: 100vh;
}

.system_h1 {
    font-size: 25px;
    padding: 10px 0;
    margin: 0;
}

.intro_desc {
    font-size: 12px;
    font-weight: bold;
    background: rgba(255,101,0, 0.8);
    padding: 5px;
    color: #fff;
	margin-bottom: 25px;
}

.text_normal{
	font-weight:normal;
}

.text_bold{
	font-weight:bold;
}

#formSuccess {
    border: 1px solid #009933;
    font-size: 12px;
    padding: 7px 5px 7px 25px;
    margin-bottom: 10px;
    color: #009933;
    background: #ccffcc url(../img/icon_accept3.gif) no-repeat 5px 7px;
}

#formError {
    border: 1px solid #f00;
    font-size: 12px;
    padding: 7px 5px 7px 25px;
    margin-bottom: 10px;
    color: #c00;
    background: #fcc url(../img/error.gif) no-repeat 5px 7px;
}

.notice{
	display:none;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: rgba(255,101,0, 0.7);
    color: #FFF;
    font-weight: bold;
}

button.ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer;
    background: rgba(175,0,146, 0.9);
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
}

.size_16{
	font-size: 16px;	
}

.clear-both{
	clear:both;
}

/*=== 2. Anchor Link ===*/
a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #333333;
  text-decoration: none;
}
/*=== 4. Login Main Form ===*/
#login {

    width: 500px;
    margin: 100px auto;
}

#login img {
    max-width: 100%;
    height: auto;
}

.logo img {
    width: 340px;
    height: auto;
}

div#login p {
    margin: 20px auto;
    width: 320px;
}

.login-form-1 {
  max-width: 500px;
  border-radius: 5px;
  display: inline-block;
  border: 5px solid #CCC;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
  width: 340px;  
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #CCC;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: block;
  margin-top: -25px;
  padding: 7px 9px;
  background: #AF0092;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
}
label.form-invalid:after {
  top: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #777777;
  border-width: 6px;
}
/*=== 7. Form - Main Message ===*/
.login-form-main-message {
  background: #ffffff;
  color: #999999;
  border-left: 3px solid transparent;
  border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  height: 0;
  padding: 0 20px 0 17px;
  opacity: 0;
  transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
  height: auto;
  opacity: 1;
  padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
  border-left-color: #2ecc71;
}
.login-form-main-message.error {
  border-left-color: #e74c3c;
}

/*=== 9. Misc ===*/
.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}

/*=== 10. Dashboard - Left Navigation ===*/
div#controller {
    width: 100%;
    display: block;
    clear: both;
    position: relative;
    height: 90vh;
}

.navigation_bar {
    width: 15%;
    float: left;
    background: rgba(175,0,146, 0.9);
	background: #461C47;
    position: fixed;
    height: 100vh;
	padding: 10px 0;	
    color: #fff;
}

.system_content {
    float: left;
    width: 85%;
    height: auto;
    position: relative;
    margin-left: 15%;
    padding: 10px;
}

.navigation_bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.navigation_bar ul li a,
.visit_link a {
    color: #fff;
}

.visit_link a:hover {
    cursor: pointer;
    color: #FF6500;
    background: #fff;
	text-decoration:none;
}

.navigation_bar ul li a .fa,
.visit_link a .fa {
	margin-right: 5px;
}

.navigation_bar ul li a, .navigation_bar ul li span.on {
    padding: 7px 10px;
    width: 100%;
    display: block;
    position: relative;
	/*font-weight: bold;*/
}

.navigation_bar ul li a:hover,
.navigation_bar ul li.on {
    cursor: pointer;
    color: #FF6500;
    text-decoration: none;
    background: #fff;
	font-weight: bold;
	/*box-shadow: 1px 1px 10px 1px #CCC;*/
}

.navigation_bar ul li.on a{
    color: #FF6500	
}

.visit_link {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
	padding: 0 10px;
}

.visit_link a {
    display: block;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
	font-weight: bold;
}


.navigation_bar ul.system_subnavs {
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: block;
    background: rgba(175,0,146, 0.9);
	background: #7C2A78;
}

.navigation_bar ul.system_subnavs li {
    width: 100%;
    background: inherit;
    font-size: 13px;
}

.navigation_bar ul.system_subnavs li a {
    display: block;
    color: #FFF;
}

li.subon {
    padding: 7px 10px;
}

.navigation_bar ul.system_subnavs li a:hover {
    background: none;
    box-shadow: none;
    color: #FF6500;
}

.navigation_bar ul.system_subnavs li:hover a{
    color: #FF6500;
}


.navigation_bar ul.system_subnavs li:hover {
    color: #FF6500;
    text-decoration: none;
    background: #fff;
	font-weight: bold;
}

.navigation_bar ul.system_subnavs li.subon:hover {
    background: inherit;
    cursor: initial;
	
}

.navigation_bar ul li:hover ul{
	display:block;
}

.system_copyright {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

.system_copyright p {
    margin: 0;
    font-size: 10px;
    font-weight: bold;
}

.user_account {
    position: absolute;
    bottom: 50px;
    width: 100%;
    padding: 0 10px;
}

.activ_box {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 20px 2px #ccc;
    margin-left: 15px;
    min-height: 95vh;
}

.introduction {
    width: 520px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 20px 2px #ccc;
	margin-left: 15px;
	margin-bottom: 30px;
}

.intro_header {
    font-size: 15px;
    font-weight: bold;
    background: rgba(255,101,0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.introduction.col-md-3.portlets {
    width: 290px;
}

p.system_intro {
    font-size: 30px;
    border-top: 3px solid #AF0092;
    box-shadow: 1px 1px 20px 2px #ccc;
    border-radius: 5px;
    padding: 10px;
}

.system_logo img {
    max-width: 100%;
    height: auto;
}

.system_logo {
    margin-bottom: 10px;
    width: 245px;
    float: left;
    margin-right: 10px;
}

.intro_text a {
    color: rgba(255,101,0, 1);
    font-weight: bold;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgba(175,0,146, 0.9);
	border-top: 16px solid #461C47;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 25%;
    left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-div {
    position: absolute;
    width: 95%;
    height: 100%;
    background: #FFF;
    z-index: 99;
    opacity: 0.9;
    display: block;
}


/*=== 11. Site Settings ===*/
.btn-activ {
    background: rgba(255,101,0, 0.7);
    color: #fff;
    font-weight: bold;
    border-radius: 5px !important;
    padding: 5px 20px !important;
}

.btn-activ:hover {
    background: #fff;
    color: rgba(255,101,0, 0.7);
    font-weight: bold;
	border:1px solid rgba(255,101,0, 0.7);
}


.radio input[type=radio]{
	margin-left: 0;
}

.sitemap_links:hover {
    color: #f37121;
}

.sitemap_links {
    color: #9d3393;
}

/*=== 12. Users ===*/
.bootstrap-select {
    width: 100% !important;
}

.user_selected{
	display:none;
}

button#users_update,
.btn-form {
    margin-right: 7px;
}

a#export_users {
    color: #333;
    cursor: pointer;
}

a#export_users:hover{
	color: #f37121;	
}

/*=== 13. Filemanager ===*/
.filemanager_iframe{
	width:100%;
	height: 100vh;
	border:none;
}

a.open_filemanager {
    display: block;
    /* border: 1px solid; */
    width: auto;
    position: absolute;
    bottom: 3px;
    right: 22px;
    color: rgba(255,101,0, 0.7);
    font-weight: bold;
    font-size: 20px;
    background: #FFF;
    padding: 0 8px;
}

.file_manager_input{
	padding-right: 40px;
}

/*=== 14. Global Options ===*/
.slider_input {
    border: 0;
    color: #f6931f;
    font-weight: bold;
    width: 75px;
    text-align: center;
}

div.demo {
    margin-top: 12px;
    width: 270px;
    float: left;
    clear: left;
    margin-right: 15px;
}

.default_font_label{
	float: left;
    width: 100%;	
}

.slider_input_fields {
    clear: right;
    float: left;
}

.row.row_header p {
    margin: 0;
}

.row.row_header{
    border-top: 1px dashed #8c8b8b;
    margin-top: 0;
	margin-bottom: 15px;
    border-bottom: 1px dashed #8c8b8b;
    padding: 5px 0;
}

.tab-content>.tab-pane {
    margin-top: 20px;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
    background: #B6199C;
}

.activ-select{
	background: #EEE;
}

input.width_selection {
    margin-right: 7px;
}

/*=== 15. Pages ===*/

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.sort_pages li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.sort_pages li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.sort_pages{
	padding: 0;
}

.sort_pages li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #666;
    background: #eeeeee;
	cursor: pointer;
}

.auto_page_div {
    margin-bottom: 8px;
}

.page_url_selection > div .type_selection {
    margin-right: 5px;
}

a#sort_pages {
    color: #333;
    cursor: pointer;
}

